realdonaldtrump
<div class="container">
  <div class="row">
    <form #f="ngForm" (ngSubmit)="onSubmit(account.value)">
      <div class="form-group">
        <label class="col-form-label">Twitter account</label>
        <input type="text"
               class="form-control"
               id="twitterAdress"
               placeholder="Account"
               required
               #account/>
        <button type="submit" class="btn btn-primary">Analysis!</button>
      </div>
    </form>
  </div>
</div>


<div class="container">
  <div class="row">

    <table class="table table-sm">
      <thead class="thead-dark">
      <tr>
        <th>Date</th>
        <th>Tweet</th>
        <th>Positive Words</th>
        <th>Negative Words</th>
        <th>Sentiment</th>
      </tr>
      </thead>
      <tbody *ngFor="let twit of data">
      <tr [className]="'table-danger'">
        <th scope="row"></th>
        <td>{{twit.message}}</td>
        <td>{{twit.sentiment.positive}}</td>
        <td>{{twit.sentiment.negative}}</td>
        <td>{{twit.sentiment.comparative}}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

<!--<app-result></app-result>-->
